<a href="https://colab.research.google.com/github/RenaStellin/MachineLearningAlgorithms/blob/master/speech_classify.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import os

In [0]:
path = "./Five/"
data = []
for file in os.listdir(path):
    print(file)
    df = pd.read_csv(path+file)
    print(df.shape)
    row = df.to_numpy().flatten()
    print(row.shape)
    data.append(row)
df_five= pd.DataFrame(data,columns=range(1292))
df_five.head()

00b01445_nohash_1_wav_st.csv
(19, 68)
(1292,)
00b01445_nohash_0_wav_st.csv
(17, 68)
(1156,)
004ae714_nohash_0.wav_st.csv
(19, 68)
(1292,)
012c8314_nohash_0.wav_st.csv
(16, 68)
(1088,)
00f0204f_nohash_0.wav_st.csv
(19, 68)
(1292,)

,0,1,2,3,4,5,6,7,8,9,...,1282,1283,1284,1285,1286,1287,1288,1289,1290,1291
0,0.500626,0.000007,3.287747,0.473296,0.230876,2.894676,0.001806,0.7075,-34.873876,-0.264583,...,0.001172,-0.052975,-0.034727,-0.006158,-0.007873,0.002746,-0.002796,0.007236,0.025732,-0.008622
1,0.266583,0.000006,3.299109,0.314831,0.234405,2.456025,0.002339,0.4425,-33.077039,0.324699,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.088861,0.000097,2.692965,0.282644,0.276321,0.526883,0.079295,0.0175,-32.393798,1.271271,...,-0.000508,-0.002703,-0.001124,-0.231629,-0.000023,-0.000324,-0.001231,0.093323,-0.000329,-0.056599
3,0.195244,0.000062,3.215243,0.326715,0.289416,1.643920,0.005050,0.4525,-31.342827,1.248250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.072591,0.000113,0.912795,0.191763,0.183848,1.453127,0.017529,0.2375,-28.677152,1.440641,...,-0.010375,0.060840,-0.005691,-0.003899,-0.000187,-0.001534,-0.005115,0.002543,-0.000579,0.008908

In [0]:
path = "./Happy/"
data = []
for file in os.listdir(path):
    print(file)
    df = pd.read_csv(path+file)
    print(df.shape)
    row = df.to_numpy().flatten()
    print(row.shape)
    data.append(row)
df_happy= pd.DataFrame(data,columns=range(1292))
df_happy.head()

014f9f65_nohash_0.wav_st.csv
(13, 68)
(884,)
0132a06d_nohash_0.wav_st.csv
(19, 68)
(1292,)
0135f3f2_nohash_0.wav_st.csv
(19, 68)
(1292,)
0137b3f4_nohash_0.wav_st.csv
(19, 68)
(1292,)
012c8314_nohash_0.wav_st.csv
(19, 68)
(1292,)

,0,1,2,3,4,5,6,7,8,9,...,1282,1283,1284,1285,1286,1287,1288,1289,1290,1291
0,0.027534,5.937256e-02,2.696709,0.135121,0.233054,0.061052,0.028226,0.0075,-26.121968,2.116747,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.156446,3.035009e-07,3.276170,0.263170,0.249649,1.622438,0.002038,0.2275,-37.457538,1.344121,...,0.010307,0.000327,0.001063,0.012457,0.000035,-0.001592,0.040798,0.040395,-0.005752,0.000977
2,0.096370,1.081274e-01,3.192651,0.177201,0.152357,0.855754,0.006277,0.1950,-21.481999,0.656228,...,-0.024811,0.005874,-0.028135,0.017068,-0.000851,0.004562,-0.010801,-0.020868,-0.003433,-0.003813
3,0.022528,2.825996e-08,3.281817,0.306986,0.285992,0.564795,0.003585,0.0000,-42.939402,1.115845,...,-0.002765,-0.000792,0.000409,0.002412,-0.000196,0.002215,0.001180,0.001179,-0.001498,0.000216
4,0.205257,2.542091e-04,2.802334,0.272736,0.222989,1.964858,0.028201,0.3100,-28.925700,0.446222,...,0.005011,0.012680,0.003646,-0.094670,-0.001633,-0.000812,-0.003554,0.055750,-0.000116,-0.021244

In [0]:
df_data = df_five
df_data = df_data.append(df_happy)
df_data.shape

(10, 1292)

In [0]:
df_data.fillna(0,inplace=True)
df_data.head()

,0,1,2,3,4,5,6,7,8,9,...,1282,1283,1284,1285,1286,1287,1288,1289,1290,1291
0,0.500626,0.000007,3.287747,0.473296,0.230876,2.894676,0.001806,0.7075,-34.873876,-0.264583,...,0.001172,-0.052975,-0.034727,-0.006158,-0.007873,0.002746,-0.002796,0.007236,0.025732,-0.008622
1,0.266583,0.000006,3.299109,0.314831,0.234405,2.456025,0.002339,0.4425,-33.077039,0.324699,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.088861,0.000097,2.692965,0.282644,0.276321,0.526883,0.079295,0.0175,-32.393798,1.271271,...,-0.000508,-0.002703,-0.001124,-0.231629,-0.000023,-0.000324,-0.001231,0.093323,-0.000329,-0.056599
3,0.195244,0.000062,3.215243,0.326715,0.289416,1.643920,0.005050,0.4525,-31.342827,1.248250,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.072591,0.000113,0.912795,0.191763,0.183848,1.453127,0.017529,0.2375,-28.677152,1.440641,...,-0.010375,0.060840,-0.005691,-0.003899,-0.000187,-0.001534,-0.005115,0.002543,-0.000579,0.008908

In [0]:
df_data['labels']=['F','F','F','F','F','H','H','H','H','H']
df_data.shape

(10, 1293)

In [0]:
df_data.head(10)

,0,1,2,3,4,5,6,7,8,9,...,1283,1284,1285,1286,1287,1288,1289,1290,1291,labels
0,0.500626,7.271676e-06,3.287747,0.473296,0.230876,2.894676,0.001806,0.7075,-34.873876,-0.264583,...,-0.052975,-0.034727,-0.006158,-0.007873,0.002746,-0.002796,0.007236,0.025732,-0.008622,F
1,0.266583,6.428243e-06,3.299109,0.314831,0.234405,2.456025,0.002339,0.4425,-33.077039,0.324699,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,F
2,0.088861,9.686914e-05,2.692965,0.282644,0.276321,0.526883,0.079295,0.0175,-32.393798,1.271271,...,-0.002703,-0.001124,-0.231629,-0.000023,-0.000324,-0.001231,0.093323,-0.000329,-0.056599,F
3,0.195244,6.164419e-05,3.215243,0.326715,0.289416,1.643920,0.005050,0.4525,-31.342827,1.248250,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,F
4,0.072591,1.129578e-04,0.912795,0.191763,0.183848,1.453127,0.017529,0.2375,-28.677152,1.440641,...,0.060840,-0.005691,-0.003899,-0.000187,-0.001534,-0.005115,0.002543,-0.000579,0.008908,F
0,0.027534,5.937256e-02,2.696709,0.135121,0.233054,0.061052,0.028226,0.0075,-26.121968,2.116747,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,H
1,0.156446,3.035009e-07,3.276170,0.263170,0.249649,1.622438,0.002038,0.2275,-37.457538,1.344121,...,0.000327,0.001063,0.012457,0.000035,-0.001592,0.040798,0.040395,-0.005752,0.000977,H
2,0.096370,1.081274e-01,3.192651,0.177201,0.152357,0.855754,0.006277,0.1950,-21.481999,0.656228,...,0.005874,-0.028135,0.017068,-0.000851,0.004562,-0.010801,-0.020868,-0.003433,-0.003813,H
3,0.022528,2.825996e-08,3.281817,0.306986,0.285992,0.564795,0.003585,0.0000,-42.939402,1.115845,...,-0.000792,0.000409,0.002412,-0.000196,0.002215,0.001180,0.001179,-0.001498,0.000216,H
4,0.205257,2.542091e-04,2.802334,0.272736,0.222989,1.964858,0.028201,0.3100,-28.925700,0.446222,...,0.012680,0.003646,-0.094670,-0.001633,-0.000812,-0.003554,0.055750,-0.000116,-0.021244,H

In [0]:
df_data.reindex(0)

TypeError: 'int' object is not iterable